<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentMapper">
    <select id="getCourseIdByStudentId" parameterType="String" resultType="String">
        select b.course_id from student a ,sc b
        where a.student_id=b.student_id
        and a.student_id=#{studentId}
    </select>
</mapper>
